<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="org.springframework.test.ioc.bean.Person">
        <property name="name" value="derek"/>
        <property name="car" ref="car"/>
    </bean>

    <bean id="car" class="org.springframework.test.ioc.bean.Car">
        <property name="brand" value="porsche"/>
    </bean>

    <bean class="org.springframework.test.ioc.common.CustomBeanFactoryPostProcessor"/>

    <bean class="org.springframework.test.ioc.common.CustomBeanPostProcessor"/>

    <bean id="helloService" class="org.springframework.test.ioc.service.HelloService"/>

</beans>